@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    if (TempData["IsSuccess"] != null && (bool)TempData["IsSuccess"])
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>@TempData["Message"]</strong>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>@TempData["Message"]</strong>
        </div>
    }
}

 @await Component.InvokeAsync("PhotoGallery")