@model Users

@{
    ViewData["Title"] = "Invite Users";
}

@if (ViewBag.Message != null)
{
    if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>@ViewBag.Message</strong>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>@ViewBag.Message</strong>
        </div>
    }
}


<h1 style="margin: 0px 0px 15px 10px">Invite Users Page</h1>
<div class="container">
    <div class="row">
        <form asp-action="InviteUsers" method="post">
            <div class="form-floating mb-3">
                <input name="newEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>
            <button type="submit" class="btn btn-primary" style="margin:0px 0px 15px 0px; border-radius:5px">Invite</button>
        </form>
    </div>
</div>
